{% extends 'layout/base.html' %}
{% block content %}
    <div>
        <section class="main">

            {% include '/layout/components/flight-search-readonly.html' %}

            <div class="select-flight">
                <ul class="flight-list">
                    {% if flight_list[0] %}
                        {% for f in flight_list %}
                            <li class="flight-item">
                                <div class="brief-info">
                                    <span>{{ f.gio_bay.hour }}:{{ f.gio_bay.minute }} đến {{ f.gio_den.hour }}:{{ f.gio_den.minute }}</span>
                                    <span>{{ f.maybay.name }}</span>
                                </div>
                                {% for c in ticket_classes %}
                                    <label
                                            for="{{ f.id|string + c.name }}"
                                            class="class-wrapper {% if f.ghes[loop.index - 1]['so_luong']<session['order']['quantity']|int %}sold{% endif %}"
                                            onclick="showDetail('{{ f.id }}', '{{ c.id }}')"
                                    >
                                        <input type="radio" name="flight" id="{{ f.id|string + c.name }}"
                                                {% if f.id==flight.id and c.id==ticket_class.id %} checked {% endif %}
                                        >
                                        <div class="{{ c.name }} class {% if f.ghes[loop.index - 1]['so_luong']<session['order']['quantity']|int %}sold{% endif %}">
                                            {{ "{:,.1f}".format( c.gia + f.gia) }} VND
                                        </div>
                                    </label>
                                {% endfor %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <h3 class="text-center">( Không tìm thấy chuyến bay phù hợp )</h3>
                    {% endif %}

                </ul>

                <div class="flight-detail">
                    <h3>Chi tiết chuyến bay</h3>
                    {% if flight and ticket_class %}
                        <div class="station">
                            <h3>Lộ trình</h3>

                            <div class="path">
                                <div class="from">
                                    <div class="code">{{ session['order']['from-code'] }}</div>
                                    <div class="name">{{ session['order']['from'] }}</div>
                                    <div class="time">{{ flight.gio_bay }}</div>
                                </div>

                                <div class="between">
                                    <span>{{ (( flight.gio_den - flight.gio_bay).total_seconds() / 3600)|round(1) }} giờ</span>
                                    <span>
                                <i class="fi fi-ss-plane"></i>
                            </span>
                                    <span>
                                        {% if terms[0] %}
                                            {{ terms|length }} trạm
                                        {% else %}
                                            Bay thẳng
                                        {% endif %}
                                    </span>
                                </div>

                                <div class="to">
                                    <div class="code">{{ session['order']['to-code'] }}</div>
                                    <div class="name">{{ session['order']['to'] }}</div>
                                    <div class="time">{{ flight.gio_den }}</div>
                                </div>
                            </div>
                            <div class="termination">
                                <h3>Danh sách trạm dừng</h3>
                                <ul>
                                    {% if terms[0] %}
                                        {% for t in terms %}
                                            <li>{{ loop.index }} <span class="code"></span>-
                                                {{ t.sanbay.name }} - {{ t.thoi_gian_dung|int }} phút
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        Bay thẳng
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="benefit">
                            <h3>Quyền lợi</h3>
                            <ul>
                                {% if  ticket_class.quyenloi %}
                                    {% set my_array = ticket_class.quyenloi.split('#') %}

                                    {% for item in my_array %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                {% else %}
                                    Vui lòng chọn chuyến bay để xem chi tiết
                                {% endif %}
                            </ul>
                        </div>
                        <div class="price">
                            <h3>Chi phí</h3>
                            <div class="price-item flight-price">
                                Giá chặng bay: <span>{{ "{:,.1f}".format(flight.gia) }} VND</span>
                            </div>
                            <div class="price-item ticket-price">
                                Giá vé: <span>{{ "{:,.1f}".format(ticket_class.gia) }} VND</span>
                            </div>
                            <div class="price-item total">
                                Tổng: <span>{{ "{:,.1f}".format(flight.gia + ticket_class.gia) }} VND</span>
                            </div>
                        </div>
                    {% else %}
                        <p>( Chọn chuyến bay để xem chi tiết)</p>
                    {% endif %}

                </div>

            </div>


            <div class="page-nav">
                <a href="/" class="btn secondary">Quay lại</a>
                <a href="/passenger-info" class="btn primary
                    {% if not flight %}disabled{% endif %}
                ">Tiếp</a>
            </div>


        </section>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}